/*
Metabase

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package metabase

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// DatasetApiService DatasetApi service
type DatasetApiService service

type ApiQueryDatabaseRequest struct {
	ctx                   context.Context
	ApiService            *DatasetApiService
	datasetQueryJsonQuery *DatasetQueryJsonQuery
}

func (r ApiQueryDatabaseRequest) DatasetQueryJsonQuery(datasetQueryJsonQuery DatasetQueryJsonQuery) ApiQueryDatabaseRequest {
	r.datasetQueryJsonQuery = &datasetQueryJsonQuery
	return r
}

func (r ApiQueryDatabaseRequest) Execute() (*DatasetQueryResults, *http.Response, error) {
	return r.ApiService.QueryDatabaseExecute(r)
}

/*
QueryDatabase Execute a query

Execute a query and retrieve the results in the usual format.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiQueryDatabaseRequest
*/
func (a *DatasetApiService) QueryDatabase(ctx context.Context) ApiQueryDatabaseRequest {
	return ApiQueryDatabaseRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DatasetQueryResults
func (a *DatasetApiService) QueryDatabaseExecute(r ApiQueryDatabaseRequest) (*DatasetQueryResults, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatasetQueryResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatasetApiService.QueryDatabase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/dataset"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.datasetQueryJsonQuery == nil {
		return localVarReturnValue, nil, reportError("datasetQueryJsonQuery is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.datasetQueryJsonQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
